.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    top: 0;
}

.link {
    margin: 1rem;
    text-decoration: none;
}

.text {
    color: white;
    font-family: Lucida Handwriting,cursive;
}